[Desktop Entry]
Type=Application
Name=Prime Passwords
GenericName=Password Generator
Comment=Cryptographically secure random passwords, made on this computer
Exec=@BINDIR@/prime-passwords
Icon=prime-passwords
Terminal=false
Categories=Utility;
Keywords=password;random;generator;wifi;wpa;
StartupWMClass=io.github.rclinux.primepasswords
